.product-list-content {
    border-left: 2px solid grey;
    flex-basis: 80%;
}
.block {
    height: 250px;
    display: inline-block;
    padding-left: 50px;
    img {
        width: 140px;
        height: 150px;
        display: block;
    }
}
