.product-filter {
    flex-basis: 15%;
    padding: 20px;
    display: inline-block;
}

.soryBy-panel {
    height: 30px;
    border-bottom: 1px solid gray;
    padding: 10px;
    select {
        float: right;
        margin-right: 100px;
    }
}