@import 'components/Header/header';
@import 'components/Banner/banner';
@import 'components/ProductList/productList';
@import 'components/ProductFilter/productFilter';

body {
    margin: 0px;
    margin: 5px;
}

.product-list-filter {
    display: flex;
}

.center-loader {
    background-color: black;
    text-align: center;
    position: absolute; 
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    opacity: 0.5;
    span {
        position: absolute;
        top: 50%;
        left: 50%;
        color: white;
        opacity: 1;
    }
    .fa-spin {
        animation: fa-spin 0.4s infinite linear;
        -webkit-animation: fa-spin 0.4s infinite linear;
    }
}